.centertext{
    width: 13.958vw;
    height: 5.99vw;
    margin-top: 1.615vw;
    margin-left: 6.979vw;
}
.title{
    font-family: 'FiraSans_Regular';
    font-size: 1.667vw;
    color: white;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0.573vw;
    text-align: center;
}
.text_gird{
    display: flex;
    align-items: center;
    width: 13.958vw;
    height: 1.51vw;
    color: rgba(255, 255, 255, 0.55);
    font-family: "FiraSans_Regular";
    font-size: 1.042vw;
    margin-bottom: 0.26vw;
}
.text_gird_p{
    font-size: 1.25vw;
    color: white;
    margin: auto;
    margin-right: 0;
}
.color_p{
    color: #D7961C;
}